<h2>Edit your project information</h2>

<%= form_for @project do |f| %>

  <% unless f.object.errors.empty? %>
    <%= render 'shared/form_errors', :f => f %>
  <% end %>

  <div class="span6">
    <%= f.label :title %>
    <%= f.text_field :title, class: "input-block-level" %>
    <%= f.label :teaser %>
    <%= f.text_field :teaser, class: "input-block-level" %>
    <%= f.label :description %>
    <%= f.text_area :description, class: "input-block-level" %>
    <%= f.label :goal %>
    <%= f.text_field :goal, class: "input-block-level" %>
    
    <div class="form-actions">
      <%= f.submit 'Edit Project', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>