<h1><%= @project.title %></h1>

<p>A project by <%= @project.user.first_name %> <%= @project.user.last_name %></p>

<!-- amount_raised defined in projects_helper -->
<h3>Total amount raised: <%= amount_raised %></h3> 

<p><%= flash[:notice] %></p>

<%= form_for([@project, @pledge]) do |f| %>
  
  <%= render 'shared/form_errors', :f => f %>

	<div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div>
    <%= f.submit "Pledge Now", class: "btn btn-primary" %>
  </div>
<% end %>